.capacitTabTable ld-table-head {
  white-space: normal;
}
.capacitTabTable ld-table-cell {
  font-weight: 500;
}

#demandInputTbl {
  margin-top: 1rem; /* mt-4 */
  max-height: 30rem; /* max-h-[32rem] */
  max-width: 90rem; /* max-w-[32rem] */
  width: 100%; /* w-full */
  overflow-y: auto; /* overflow-y-scroll */
  overflow-x: auto; /* overflow-x-scroll */
  position: relative; /* Required for sticky positioning */
}

/* Demand Input table design */
#demandInputTbl table {
  color: #1c2127;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box; /* Corrected from inherit to border-box */
  display: table;
  position: relative; /* Changed from 'abslute' to 'relative' */
  max-height: 450px; /* Adjust the height as needed */
  width: 100%;
  border-collapse: collapse; /* Ensures borders are collapsed */
}

#demandInputTbl th {
  background-color: rgb(229, 232, 235);
  text-align: center;
  height: 20px;
  z-index: 10;
  color: #1c2127;
  padding: 3px; /* Simplified padding */
  font-size: 12px;
}

#demandInputTbl th > span {
  display: inline-flex; /* Keeps header text and icon on the same line */
  align-items: center; /* Vertically aligns icon and text */
  gap: 5px; /* Adds spacing between text and icon */
}

#demandInputTbl td {
  border-top: 0.5px solid #ddd;
  text-align: left;
  overflow: auto;
  /* position: relative; */
  padding-right: 8px;
  white-space: nowrap;
  padding: 3px; /* Simplified padding */
}

#demandInputTbl input {
  width: 60px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#demandInputTbl input[type='checkbox'] {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  width: 15px;
  font-size: 14px;
}

#demandInputTbl input[type='number'] {
  width: 60px;
  border: none;
  outline: none;
}

.dm-custom-th {
  background-color: rgb(229, 232, 235);
  top: 0px;
  z-index: 30;
}

.dm-custom-total {
  background-color: rgb(229, 232, 235);
  width: 40px; /* Adjust as needed */
  border-bottom: 2px solid rgb(221, 221, 221);
  top: 0;
  left: 0;
}

.checkbox-cell {
  width: 40px; /* Adjust this value as needed */
  text-align: center;
}

.color-bg-white {
  background-color: white;
}

/* Demand Input table design */
.addNewskuSelect {
  border: 2px solid #78797a; /* Tailwind's gray-300 */

  outline: none; /* Remove default outline */
}

.addNewskuSelect:focus {
  border-color: #3b82f6; /* Tailwind's blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* Tailwind's ring-blue-500 */
}

/* Hide the spinner buttons in Chrome, Safari, and Edge */
.readonly-input::-webkit-inner-spin-button,
.readonly-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner buttons in Firefox */
.readonly-input {
  -moz-appearance: textfield; /* This hides the spinner in Firefox */
}
