.simulationMasterTableContainer .word-break {
  overflow-wrap: break-word;
  white-space: normal;
  color: #182026;
  overflow: hidden;
  word-break: break-all;
}

.simulationMasterTableContainer ld-table-row:hover {
  background-color: rgb(232, 240, 245);
}

.ld-table__selection-wrapper {
  background-color: transparent !important;
}
