@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appContainer {
  --ld-thm-primary: #085897;
  --ld-button-neutral-bg-color: green;
  --ld-table-selection-wrapper-gradient: none;
}
.ld-header,
:host(.ld-header) {
  --ld-header-max-width: 100%;
}
.simulationMasterTable .ld-card {
  --ld-card-padding: 0;
}
.slate-ui-header-container {
  --ld-header-max-width: 1960px;
}
.slate-ui-container {
  margin: auto;
  max-width: 1960px;
}
.ld-table,
.ld-table {
  --ld-sp-6: 0;
  --ld-table-cell-padding-y: 8px;
}

/* success button */
.ld-button--success {
  color: #fff;
  border-radius: 0.25rem;
  background-color: #04642e;
}

.ld-button--success:hover,
.ld-button--success:focus {
  background-color: #054c20;
}

.button-tab-group button {
  flex-grow: 1;
  font-weight: 600;
  padding: 0.2rem;
  border-bottom: 3px solid var(--ld-col-neutral-100);
}
.button-tab-group button.bg-primary {
  background-color: #d8eaf8;
}
.button-tab-group button.bg-light {
  background-color: #f8f8fc;
}
.button-tab-group.btn-sm button {
  font: var(--ld-typo-body-s);
  font-weight: 700;
  color: var(--ld-thm-primary);
}
.button-tab-group button.active {
  color: var(--ld-thm-primary);
  border-color: var(--ld-thm-primary);
}
.button-tab-group button.active {
  border-color: var(--ld-thm-primary);
}
.button-tab-group.rounded {
  border-radius: 0.25rem;
}
.button-tab-group button.primary {
  border: 0;
  padding: 8px;
  color: var(--ld-thm-primary);
  background-color: #d8eaf8;
}
.button-tab-group button.primary.active {
  color: #d8eaf8;
  background-color: var(--ld-thm-primary);
}

/* tabs */
.custom-tabs ld-tablist {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.custom-tabs ld-tab {
  justify-self: stretch;
}

.ld-input-message--error {
  font-size: 12px;
}

/* table */
ld-table-head {
  --ld-table-cell-padding-y: 12px;
}
ld-table-header {
  font-size: 14px;
  color: #31464c;
  font-weight: 500;
  background-color: #fff;
}
ld-table-cell,
td {
  font-size: 14px;
  color: #31464c;
}
