@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.appContainer {
  --ld-thm-primary: #085897;
}
.ld-header,
:host(.ld-header) {
  --ld-header-max-width: 100%;
}
.simulationMasterTable .ld-card {
  --ld-card-padding: 0;
}
.slate-ui-header-container {
  --ld-header-max-width: 1960px;
}
.slate-ui-container {
  margin: auto;
  max-width: 1960px;
}
.ld-table,
.ld-table {
  --ld-sp-6: 0;
  --ld-table-cell-padding-y: 8px;
}